# Server config
FRONTEND_ORIGIN=

# Database configuration
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
PORT=

# Email configuration
MAIL_USER=
MAIL_PASS=

# JWT configuration
JWT_SECRET=
JWT_REFRESH_SECRET=

# Bcrypt salt rounds
BCRYPT_SALT_ROUNDS=

# Logging configuration (debug | info | warn | error)
LOG_LEVEL=
